.footer-bar
	.contact-information
		span Contact Info
		ul
			li wfjcc@justincuizon.com
			li +63 917-716-2946
			li tibanga
			li philippines
	.recent-post
		span Recent Post
		ul
			li: a(href="#") BRANDING
			li: a(href="#") MOCKUPS
			li: a(href="#") PHOTOGRAPHY
			li: a(href="#") WEB GRAPHICS
	.categories
		span Categories
		ul
			li: a(href="#") BRANDING
			li: a(href="#") MOCKUPS
			li: a(href="#") PHOTOGRAPHY
			li: a(href="#") WEB GRAPHICS

.copyright-bar
	span © 2017 copyright cuizondesigns // All rights reserved