.footer-bar
	.contact-information
		span Contact Info
		ul
			li wfjcc@justincuizon.com
			li +63 917-716-2946
			li tibanga
			li philippines
		.social-icons
			ul
				li: a(href="https://www.facebook.com/juscuizon" target="_blank"): i.fa.fa-facebook.fa
				li: a(href="https://twitter.com/juscuizon" target ="_blank"): i.fa.fa-twitter.fa
				li: a(href="https://www.instagram.com/juscuizon/" target ="_blank"): i.fa.fa-instagram.fa
				li: a(href="https://www.youtube.com/channel/UCoOBmvKmiQzjkB3Wwd8SLnA" target ="_blank"): i.fa.fa-youtube-play.fa


	.logo
		span LOGO
		
	.categories
		span Categories
		ul
			li: a(href="{{ site.baseurl }}/categories/technology") TECHNOLOGY
			li: a(href="{{ site.baseurl }}/categories/finance") FINANCE
			li: a(href="{{ site.baseurl }}/categories/game") GAME
			li: a(href="{{ site.baseurl }}/categories/food") FOOD
			li: a(href="{{ site.baseurl }}/categories/travel") TRAVEL

.copyright-bar
	span © 2017 copyright cuizondesigns. All rights reserved.