.footer-bar
	display: flex
	justify-content: space-around
	align-items: center
	//child absolute
	margin: 0 -9999rem
	height: 200px
	//add back section padding value
	padding: .25rem 9999rem
	background: #222222

.copyright-bar
	display: flex
	justify-content: center
	align-items: center
	//child absolute
	margin: 0 -9999rem
	height: 30px
	//add back section padding value
	padding: .25rem 9999rem
	background: #121212
