.header-bar
	display: flex
	justify-content: space-between
	align-items: center
	//child absolute
	margin: 0 -9999rem
	height: 50px
	//add back section padding value
	padding: .25rem 9999rem
	background: #262626

	ul
		display: flex
		flex-direction: row

		li
			list-style: none
			margin-right: 20px

		a
			text-decoration: none
			color: white
			font-family: 'Open Sans'

	.navigation

		a:hover
			color: #e03821
			transition: 0.3s

	.social-icons
		a
			position: relative
			display: flex
			align-items: center
			padding-left: 15px
			padding-right: 15px
			margin: -10px
			height: 58px

		a:hover
			background: #111111