---
title: Justin Cuizon
layout: default
---

<ul class="posts-list">
	{% for post in site.categories.game %}
		<div class="posts-loop-container">
			
			<div class="post-categories">
				<a href="{{ site.baseurl }}/categories/game">{{ post.categories }}</a>
			</div>
		
			<div class="post-title">
				<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
			</div>

			<div class= "post-details">
				<span> {{ post.author }} </span>
				<span> | </span>
				<span> {{ post.date | date: '%B %d, %Y' }} </span>
			</div>

			{% assign foundImage = 0 %}
			{% assign images = post.content | split:"<img " %}
			{% for image in images %}
			{% if image contains 'src' %}
			{% if foundImage == 0 %}
			{% assign html = image | split:"/>" | first %}
			<img class="featured-image" {{ html }} />
			{% assign foundImage = 1 %}
			{% endif %}
			{% endif %}
			{% endfor %}

			<div class="post-excerpt">
				<span class="post-excerpt">{{ post.excerpt }}</span>
			</div>

			<div class="bottom-cta">
				<span class="continue-button">
					<a href="{{ site.baseurl }}{{ post.url }}">CONTINUE READING</a>
				</span>

				<span class="social-icons">
				<ul>
					<li> <a href="#"> <i class = "fa fa-facebook"></i></a></li>
					<li> <a href="#"> <i class = "fa fa-twitter"></i></a></li>
					<li> <a href="#"> <i class = "fa fa-instagram"></i></a></li>
				</ul>
				</span>
			</div>

		</div>
	{% endfor %}
</ul>
