.main-content
	width: 845px
	min-height: 1600px
	z-index: 1

	.posts-loop-container
		background-color: white
		margin-top: 50px
		margin-bottom: 50px
		width: 810px
		min-height: 650px
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		padding: 25px 20px
		box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.11)
		//border: solid green

		.post-categories
			text-transform: uppercase

			a
				text-decoration: none
				color: #333333
				font-family: 'Raleway'
				font-size: 18px

			a:hover
				color: #e03821
				transition: 0.4s

		.post-title
			text-transform: uppercase

			a
				text-decoration: none
				color: #333333
				font-family: 'Teko'
				font-size: 50px

			a:hover
				color: #e03821
				transition: 0.4s

		.post-details
			text-transform: uppercase
			margin-bottom: 5px

			span
				font-family: 'Teko'
				font-size: 14px
				color: grey
				margin-right: 2px

		.featured-image
			width: 835px
			height: 626.25px
			margin-bottom: 15px

		.post-excerpt
			padding-bottom: 50px
			margin-bottom: 10px
			min-width: 800px
			border-bottom: dashed grey 0.1px
			text-align: center
			font-family: 'Cabin'
			font-size: 14px
			line-height: 18px

		.bottom-cta
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
			min-width: 810px
			margin-top: 20px

			.continue-button
				display: flex
				justify-content: center
				align-items: center
				text-align: center

				a:hover
					background-color: #e03821
					transition: 0.5s

				a
					text-decoration: none
					font-family: 'Raleway'
					background-color: #222222
					padding: 15px 20px
					color: white

			.social-icons
				ul
					display: flex
					flex-direction: row

					li
						margin-right: 0px
						list-style-type: none

						a
							font-size: 20px
							color: grey
							padding: 10px

						a:hover
							color: #e03821
							transition: 0.5s

//================Responsive Design====================
//Medium PC Monitors
@media (min-width: 961px) and (max-width: 1200px)
	.main-content
		margin-left: 30px
		width: 640px

		.posts-loop-container
			width: 600px

			.featured-image
				width: 625px
				height: 468.75px
				margin-bottom: 15px

			.post-excerpt
				padding-bottom: 50px
				margin-bottom: 10px
				min-width: 599px
				border-bottom: dashed grey 0.1px
				text-align: center
				font-family: 'Cabin'
				font-size: 13px

			.bottom-cta
				display: flex
				flex-direction: row
				justify-content: space-between
				align-items: center
				min-width: 610px
				margin-top: 20px

//Small Monitors and Large Tablets
@media (min-width: 801px) and (max-width: 960px)
	.main-content
		margin-top: -180px
		margin-left: 30px
		width: 520px

		.posts-loop-container
			margin-top: 50px
			margin-bottom: 0px
			width: 480px

			.featured-image
				width: 510px
				height: 382.50px
				margin-bottom: 15px

			.post-excerpt
				padding-bottom: 50px
				margin-bottom: 10px
				min-width: 479px
				border-bottom: dashed grey 0.1px
				text-align: center
				font-family: 'Cabin'
				font-size: 13px

			.bottom-cta
				display: flex
				flex-direction: row
				justify-content: space-between
				align-items: center
				min-width: 490px
				margin-top: 20px



//Small Monitors and Tablets
@media (min-width: 501px) and (max-width: 800px)
	.main-content
		transform: translateY(-180px)
		margin: 0 auto
		width: 400px

		.posts-loop-container
			margin-top: 50px
			margin-bottom: 0px
			width: 360px

			.post-categories
				a
					font-size: 14px

			.post-title
				text-align: center
				a
					font-size: 30px

			.featured-image
				width: 390px
				height: 292.50px
				margin-bottom: 15px

			.post-excerpt
				padding-bottom: 50px
				margin-bottom: 10px
				min-width: 359px
				border-bottom: dashed grey 0.1px
				text-align: center
				font-family: 'Cabin'
				font-size: 13px

			.bottom-cta
				display: flex
				flex-direction: column
				justify-content: space-between
				align-items: center
				min-width: 370px
				margin-top: 20px

				.continue-button
					margin-bottom: 30px

//Mobile Devices
@media (min-width: 50px) and (max-width: 500px)
	.main-content
		transform: translateY(-180px)
		margin: 0 auto
		width: 310px

		.posts-loop-container
			margin-top: 50px
			margin-bottom: 0px
			width: 270px

			.post-categories
				a
					font-size: 14px

			.post-title
				text-align: center
				a
					font-size: 30px

			.featured-image
				width: 300px
				height: 225px
				margin-bottom: 15px

			.post-excerpt
				padding-bottom: 50px
				margin-bottom: 10px
				min-width: 299px
				border-bottom: dashed grey 0.1px
				text-align: center
				font-family: 'Cabin'
				font-size: 13px

			.bottom-cta
				display: flex
				flex-direction: column
				justify-content: space-between
				align-items: center
				min-width: 370px
				margin-top: 20px

				.continue-button
					margin-bottom: 30px