.main-content
	//border: solid blue
	width: 810px
	min-height: 1600px

	.posts-loop-container
		background-color: white
		margin-top: 50px
		margin-bottom: 50px
		width: 810px
		min-height: 650px
		display: flex
		flex-direction: column
		align-items: center
		padding-left: 15px
		padding-right: 15px
		//border: solid green

		span
			margin-right: 10px

		h3
			margin-bottom: 0px
			margin-top: 0px
			//border: green solid

		a
			text-decoration: none

		.featured-image
			width: 800px
			height: 600px

		.post-category, .post-title, .post-author, .read-more-button
			h6, h3, span, p
				font-family: 'Open Sans'
